section 
    .container 
        .banner 
            .banner-description 
                h1.banner-description__title Zack Snyder's Justice League
                .banner-description-panel
                    span.banner-description-panel__year 2021
                    span.banner-description-panel__age 18+
                    span.banner-description-panel__len 4h 2min
                    span.banner-description-panel__rate 8.8
                        img(src="images/rating.svg", alt="")
                p Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
                button.main-btn Watch
                button.main-btn.main-btn-white More information
            .banner-photo