header 
    .header 
        a(href="#")
            img(src="images/logo.svg", alt="Logo")
        nav
            ul.nav 
                li.nav-item.active
                    a(href="#").nav-item Home
                li.nav-item
                    a(href="#").nav-item TV shows
                li.nav-item
                    a(href="#").nav-item Movies
                li.nav-item
                    a(href="#").nav-item Series

            ul.control 
                li.control-item 
                    button.control-btn.control-btn_search
                li.control-item 
                    button.control-btn.control-btn_notice
                li.control-item 
                    button.control-btn.control-btn_friend
                      