- var pageTitle = "Film Card"

doctype html
html(lang="en")
  head
    title= pageTitle
    style     
      include styles/normalize.css
      include styles/style.css
  body
    .wrapper
      include modules/header
      
      include modules/banner

      include modules/footer
